pygame==2.5.2
opencv-python==4.9.0.80
mediapipe==0.10.9
numpy==1.24.4
speechrecognition==3.10.1
pyaudio==0.2.13
sounddevice==0.4.6
pydub==0.25.1
simpleaudio==1.0.4
python-dotenv==1.0.1
pytesseract==0.3.10
pyttsx3==2.90
